.places {
	display: block;
	margin: 45px auto;
	text-align: center;}

article {
	display: inline-block;
	width: 390px;
	padding: 20px;
	margin: 20px;
	border: 1px solid #FF5A5F;
	border-radius: 4px;
	text-align: center;}

h1 {
	float: left;
	text-align: left;
	width: 95%;
	display: block;
	margin-top: 0px;
	margin-left: 20px;
	margin-bottom: 5px;
	font-size: 30px;}

article h2 {
	font-size: 30px;
	padding: 0px;
	margin: auto;}

.popover {
	list-style-type: none;
	display: none;
	background-color: #FAFAFA;
	width: 100%;
	margin-left: -1px;
	margin-top: 8px;
	padding: 25px 0px;
	border: 1px solid #DDDDDD;
	border-radius: 4px;}

.locations .popover {opacity: .99;}

.amenities .popover {opacity: .99;}